:root {
  --title-font: "Chewy", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --body-font: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

/* Set global font family for all text and headings */
html, body {
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

p {
  margin: 0;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}